.containerHeader{
    width: 100vw;
    height: 15vh;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerTitleHeader{
    
    
    margin-left: 10px;
    
}