.containerHeader{
    width: 100vh;
    height: 8vh;
    background-color: #ccc;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.containerTitleHeader{

    margin-left: 4vw;
}